{% extends 'base.html' %}
{% load my_tags %}

{% block title %}
Product Page
{% endblock title %}


{% block content %}


<!--Main layout-->
<main class="">
  <div class="container dark-grey-text mt-5">
    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <img src="{{book.image.url}}" class="img-fluid" alt="">

      </div>


      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-4">


          {% if book.get_tradeType_display == "Sale" %}

          <div class="mb-3">
            <a href="">
              <span class="badge purple mr-1">For Sale</span>
            </a>
          </div>

          <p>
            <span class="lead font-weight-bold">Titre: </span>
            <span>{{book.title}}</span>
          </p>

          <p>
            <span class="lead font-weight-bold">Auteur: </span>
            <span>{{book.author}}</span>
          </p>

          <p class="lead">
            <span class="lead font-weight-bold">Prix: </span>
            <span>{{book.price}}DT</span>
          </p>

          <p class="lead font-weight-bold">Description:</p>

          <p>{{book.description}}</p>

          {% else %}

          <div class="mb-3">
            <a href="">
              <span class="badge purple mr-1">For {{book.get_tradeType_display}}</span>
            </a>
          </div>
          <p>
            <span class="lead font-weight-bold">User: </span>
            <span>{{book.user}}</span>
          </p>

          <p>
            <span class="lead font-weight-bold">Titre: </span>
            <span>{{book.title}}</span>
          </p>

          <p>
            <span class="lead font-weight-bold">Auteur: </span>
            <span>{{book.author}}</span>
          </p>


          <p class="lead font-weight-bold">Description:</p>

          <p>{{book.description}}</p>

          {% endif %}




          <div class="d-flex justify-content-left">
            <!-- Default input -->
            <a class="btn btn-primary btn-md my-0 p" href="{% url 'delete' book.id %}">Supprimer le livre
            </a>

          </div>

        </div>
        <!--Content-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->



  </div>
</main>
<!--Main layout-->

{% endblock content %}