<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="#">
        <strong class="blue-text">𝓉𝓇𝒶𝒹𝑒𝐻𝒪𝐿𝐼𝒞</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {{ home_active }}">
            <a class="nav-link waves-effect" href="{% url 'core:home' %} ">Accueil
            </a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item {{ mybooks_active }}">
            <a class="nav-link waves-effect" href="{% url 'core:mybooks' %} ">Mes livres</a>
          </li>
          <li class="nav-item {{ addbook_active }}">
            <a class="nav-link waves-effect" href="{% url 'core:addbook' %} ">Ajouter livre</a>
          </li>
          {% endif %}
          
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">

          <hr>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_logout' %} ">
              <span > Lougout </span>
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_login' %} ">
              <span> Login </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_signup' %} ">
              <span> Signup </span>
            </a>
          </li>
          {% endif %}


        </ul>

      </div>

    </div>
  </nav>